@charset "UTF-8"

@font-face {
    font-family: 'Young';
    src: url('Retro Young.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}


main{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    margin:auto;
    width: 800px;

}
body{
    background-color: rgb(253, 214, 129);
}

h1{
    font-family:'Young';
    text-align: center;
    font-size: 3em;
}

h2{
   font-size: 3em;
   text-align: center;
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
}